**/target/
/target/
*/target/*
.classpath
.project
.settings
.idea

# Package Files #
*.jar
*.war
*.ear

*.xml

*.iml
*.idea
/src/main/java/ru/geekbrains/lesson8/hw1/
/src/main/java/ru/geekbrains/lesson4/TicTacToe.java
